<div class="container">
  <div class="imgs-flex">
    <div class="jumbotron">
      <p>Background and mask preview</p>
      <img id="imagem" [src]="selectedImg" alt="">
      <img id="mascara" [src]="selectedMask" alt="">
    </div>
  </div>

  <div class="buttons-flex">
    <button class="btn btn-default" (click)="background = true; fileInput.click()">Select background</button>
    <input #fileInput (change)="uploadImg($event.target.files)" type="file" style="display: none" required>
    <button class="btn btn-default" (click)="mask = true; fileMaskInput.click()">Select mask</button>
    <input #fileMaskInput (change)="uploadImg($event.target.files)" type="file" style="display: none" required>
    <button class="btn btn-default" (click)="mergeImgs()" >Merge</button>
  </div>

  <div class="canvas-flex">
    <canvas #canvas></canvas>
  </div>
</div>





