<div class="container">
  <div class="imgs-flex">
    <div class="jumbotron">
      <p>Background and mask preview</p>
      <img id="imagem" [src]="selectedImg.src" alt="">
      <img id="mascara" [src]="selectedMask.src" alt="">
    </div>
  </div>

  <p for="background">Background</p>
  <input id="background" placeholder="Select background" (change)="uploadImg($event.target.files)" type="file" required>


  <p for="background">Background</p>
  <input id="background" placeholder="Select mask" (change)="uploadMask($event.target.files)" type="file" required>

  <button class="btn btn-default" (click)="mergeImgs()">Merge</button>


  <div class="canvas-flex">
    <canvas #canvas></canvas>
  </div>

  <div class="download-link">
    <button class="btn btn-default">
      <a [href]="downloadUrl" *ngIf="downloadUrl" download="HACKATHON_2018.png">
        CLICK TO DOWNLOAD
      </a>
    </button>
  </div>

</div>